// .bg-page {
//     position: relative;
//   }
  
  .bg-page::before {
    content: "";
    background: url('https://scontent.fbkk7-2.fna.fbcdn.net/v/t1.15752-9/363495901_665764935679227_2233761305744879134_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeGo4ef_xO6cLCG9SJRP0wzyJ_NJ4HlfNIEn80ngeV80gXun3M_kv3CX5qsRWGQ9RdC0dxu3QgRSAHhHkci0FYAP&_nc_ohc=Y4FGN8ALpikAX9THkug&_nc_ht=scontent.fbkk7-2.fna&oh=03_AdTSXZFUpwC0Jr0HOPrn7fSsWrkZs0oqPpdyRxysJOH7tQ&oe=6569915D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.1; /* Set the opacity to 0.2 for the background image overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


.contentForm{
    height: 94vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.formSignUp{
    box-shadow: 0.01rem 0.01rem 1rem #879ba7;
    background-color: rgba(255, 255, 255, 0.36);;
    padding: 20px;
    display: grid;
    width: 350px;
    justify-content: center;
    align-items: center;
    border-radius:20px ;

}
.formSignUp > h1 {

    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.formSignUp > form {
    width: 270px;
    margin-top: 10px;
    display: grid;
 
}
.formSignUp > form > input{
    outline: dashed #b3ccc8;
    border-radius: 20px ;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    padding: 10px;
}

.formSignUp > form > input:focus{
    outline: 0.2em solid rgb(223, 170, 127);
    transition: 1s;
}

