.imgCover{
  object-fit: fill;
  height: 190px;
}
.imgCover:hover{
  opacity: 0.7;
}
.button-read{
  display: grid;
  text-align: center;
  color: white;
  font-weight: 500;
  background-color: #000000;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
}
.button-read:hover{
  color: rgb(0, 0, 0);
  background-color: #ededed;
  
}
.title{
  background-color: rgb(255 229 0 / 79%);
  padding: 10px;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  top: 10px;
  left: -10px;
}