.confirm {
    background-color: rgb(140, 201, 84);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
}

.confirm:hover {
    background-color: green;
}

.google {
    background-color: rgb(255, 5, 5);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    margin-top: 10px;
}

.google:hover {
    background-color: rgb(240, 82, 82);
}