@tailwind base;
@tailwind components;
@tailwind utilities;


.home-page{
    display: block;
    margin-left: 10%;
    margin-right: 10%;

}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
//   margin-top: 20px;
}
.MenuPage {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 20px;
  gap: 15px;
  row-gap: 20px;
}

.topic-card{
    font-size: 2rem;
    margin-top: 30px;
    font-family:Mitr;
    text-align: center;
    
}

.imageHeader{
  width: 100%;
  height: 570px;
  // margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.imageHeader > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  backdrop-filter: blur(800px); /* Adjust the blur radius as needed */
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity as needed */
  z-index: 1;

}

.shop-button {
  position: relative;
  bottom: 220px;
  right: 970px;
  margin-right: 20px;
  background-color: #74b886;
  border-radius: 20px;
  padding: 10px 40px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  transition: background-color 0.3s; /* Add a smooth transition for background color */
}

.shop-button:hover {
  background-color: #4a8f67; /* Change the background color on hover */
  /* You can add more styles for the hover state if needed */
}
