@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-page::before {
    content: "";
    background: url('https://scontent.fbkk7-2.fna.fbcdn.net/v/t1.15752-9/363495901_665764935679227_2233761305744879134_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeGo4ef_xO6cLCG9SJRP0wzyJ_NJ4HlfNIEn80ngeV80gXun3M_kv3CX5qsRWGQ9RdC0dxu3QgRSAHhHkci0FYAP&_nc_ohc=Y4FGN8ALpikAX9THkug&_nc_ht=scontent.fbkk7-2.fna&oh=03_AdTSXZFUpwC0Jr0HOPrn7fSsWrkZs0oqPpdyRxysJOH7tQ&oe=6569915D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.1; /* Set the opacity to 0.2 for the background image overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

.home-page{
    display: block;
    margin-left: 15%;
    margin-right: 15%;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
//   margin-top: 20px;
}
.MenuPage {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 20px;
  gap: 15px;
  row-gap: 20px;
}

.topic-card{
    font-size: 2rem;
    margin-top: 15px;
    // text-align: center;
    font-family: Mali;
}

.image-topic{
    color: white;
    font-size: 5.3rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 10px;
    background-color: rgba(105, 105, 105, 0.411)
}
.image-desc{
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.363);
}