.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 30px;
  
    .titles-cat {
      font-size: 28px;
      font-weight: 600;
      position: relative;
      bottom: 10px;
      cursor: pointer;
    }
  
    .preview {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 20px;
    }
  }
  